@model Store_Management_System.Areas.Customer.Models.Customer
@{
    ViewData["Title"] = "Add Customer";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>S_M_S</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: darkgray;align-content: center; font-family: 'Times New Roman', Times, serif;">

    <div class="container" style="width: 40%;">
        <form asp-area="Customer" asp-controller="Customer" asp-action="AddNewCustomer" method="post">
            <div class="text-success"><center><h3>@ViewBag.Success</h3></center></div>
            <div asp-validation-summary="All"></div>
            <h2 style="text-align: center;">Add New Customer</h2>
            <hr />

            <div class="form-group">
                <label asp-for="Customer_Id"></label>
                <input asp-for="Customer_Id" class="form-control" placeholder="Enter Customer id" />
                <span asp-validation-for="Customer_Id"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Name"></label>
                <input asp-for="Customer_Name" class="form-control" placeholder="Enter Customer name" />
                <span asp-validation-for="Customer_Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Address"></label>
                <input asp-for="Customer_Address" class="form-control" placeholder="Enter Customer address"/>
                <span asp-validation-for="Customer_Address"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Contact"></label>
                <input asp-for="Customer_Contact" class="form-control" placeholder="Enter Customer contact number" />
                <span asp-validation-for="Customer_Contact"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer_Email"></label>
                <input asp-for="Customer_Email" class="form-control" placeholder="Enter Customer email" />
                <span asp-validation-for="Customer_Email"></span>
            </div>

            <input type="submit" class="btn-primary" value="Add Customer" />
        </form>
    </div>
</body>
</html>