@model Store_Management_System.Areas.Customer.Models.Customer
@{
    //Layout = "_LayoutForCustomer";
    ViewData["Title"] = "Customer";
}
    <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO CUSTOMER PAGE</h1>
<br />
<br />

