@model Store_Management_System.Areas.Admin.Models.Admin
@{
    ViewData["Title"] = "Update Admin";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>S_M_S</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: darkgray;align-content: center; font-family: 'Times New Roman', Times, serif;">

    <div class="container" style="width: 40%;">

        <form asp-area="Admin" asp-controller="Admin" asp-action="EditAdmin" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h2 style="text-align: center;">Update Admin Data</h2>
            <hr />
            <div class="form-group">
                <label asp-for="SN" class="control-label"></label>
                <input asp-for="SN" class="form-control" readonly />
                <span asp-validation-for="SN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminId" class="control-label"></label>
                <input asp-for="AdminId" class="form-control" />
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input type="file" asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>

            <input type="submit" class="btn-primary" value="Update" />
        </form>
    </div>
</body>
</html>