@model Store_Management_System.Areas.Admin.Models.Admin
@{
    //Layout = "_LayoutForAdmin";
    ViewData["Title"] = "Admin";
}
<h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO ADMIN PAGE</h1>
<br />
<br />

<p>
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
        You Can See The Admin Panel If You have Any Account Otherwise You Have To Create New Admin Account.<br>
        Thank You.
    </h2>
</p>
