@{
    ViewData["Title"] = "Contact";
}

<br />

<!DOCTYPE html>
<html>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="background-color: darkgreen; font-weight: bold; font-size: 20px; color: white; text-align: center;">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Contact
                    </div>
                    <div class="panel-body">
                        <div style="border: 1px dashed; font-family:'Times New Roman', Times, serif;">
                            <h4 style="font-family:'Times New Roman', Times, serif;">
                                Md. Touhedur Rahman<br />
                                House No: 139, Road No: 13B, Kamarpara <br />
                                Sector-10, Uttara, Dhaka-1230.<br /><br />
                                Bachelor of Computer Science & Engineering.<br /><br />
                                IUBAT- International University of Business Agriculture and Technology<br /><br />
                                Phone: 01775-396637

                                <br /><br /><strong>Email:</strong> <a href="touhedurrahman7@gmail.com">touhedurrahman7@gmail.com</a><br />
                                <br /><strong>Email:</strong> <a href="touhedur.rahman375@gmail.com">touhedur.rahman375@gmail.com</a><br />
                                <br /><strong>Email:</strong> <a href="rtouhedur@gmail.com">rtouhedur@gmail.com</a><br />
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




