@model Store_Management_System.Areas.Payment.Models.Payment
@{
    ViewData["Title"] = "Edit Payment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>S_M_S</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: darkgray;align-content: center; font-family: 'Times New Roman', Times, serif; padding-bottom: 20%;">

    <div class="container" style="width: 40%;">
        <form asp-area="Payment" asp-controller="Payment" asp-action="EditPayment" method="post">
            <div class="text-success"><center><h3>@ViewBag.Success</h3></center></div>
            <div asp-validation-summary="All"></div>
            <h2 style="text-align: center;">Update Payment Data</h2>
            <hr />
            <div class="form-group">
                <label asp-for="Payment_Id"></label>
                <input asp-for="Payment_Id" class="form-control" placeholder="Enter payment id" />
                <span asp-validation-for="Payment_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control" placeholder="Enter date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment_Type"></label>
                <select asp-for="Payment_Type">
                    <option value="">--Select--</option>
                    <option value="Cash">Cash</option>
                    <option value="Online">Online</option>
                </select>
                <span asp-validation-for="Payment_Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No_Of_Items"></label>
                <input asp-for="No_Of_Items" class="form-control" placeholder="Enter items number" />
                <span asp-validation-for="No_Of_Items" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Percentage_Of_Vat"></label>
                <input asp-for="Percentage_Of_Vat" class="form-control" placeholder="Enter percentage of vat" />
                <span asp-validation-for="Percentage_Of_Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount_Of_Vat"></label>
                <input asp-for="Amount_Of_Vat" class="form-control" placeholder="Enter amount of vat" />
                <span asp-validation-for="Amount_Of_Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Cost"></label>
                <input asp-for="Total_Cost" class="form-control" placeholder="Enter toatl cost" />
                <span asp-validation-for="Total_Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="P_Id" class="control-label"></label>
                <input asp-for="P_Id" class="form-control" readonly />
                <span asp-validation-for="P_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="E_Id" class="control-label"></label>
                <input asp-for="E_Id" class="form-control" readonly />
                <span asp-validation-for="E_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_Id" class="control-label"></label>
                <input asp-for="C_Id" class="form-control" readonly />
                <span asp-validation-for="C_Id" class="text-danger"></span>
            </div>

            <input type="submit" class="btn-primary" value="Update Payment" />
        </form>
    </div>
</body>
</html>