@model Store_Management_System.Areas.Payment.Models.Payment
@{
    ViewData["Title"] = "Payment";
}
<h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO PAYMENT LIST PAGE</h1>
<br />
<br />

<p>
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
        If You have Any Account Then You Can See The Payment List Information  Otherwise You Have To Contact With The Administration.<br>
        Thank You.
    </h2>
</p>
