@model Store_Management_System.Areas.UserRole.Models.UserRole
@{

    ViewData["Title"] = "UserRole";
}
<h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO USER ROLE PAGE</h1>
<br />
<br />

<p>
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
        You Can See The User Role List If You have Any Account Otherwise You Have To Contact With Administration.<br>
        Thank You.
    </h2>
</p>
