@model Store_Management_System.Areas.Product.Models.Product
@{
    ViewData["Title"] = "Add Product";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>S_M_S</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: darkgray;align-content: center; font-family: 'Times New Roman', Times, serif;">

    <div class="container" style="width: 40%;">
        <form asp-area="Product" asp-controller="Product" asp-action="AddNewProduct" method="post">
            <div class="text-success"><center><h3>@ViewBag.Success</h3></center></div>
            <div asp-validation-summary="All"></div>
            <h2 style="text-align: center;">Add New Product</h2>
            <hr />

            <div class="form-group">
                <label asp-for="Product_Id"></label>
                <input asp-for="Product_Id" class="form-control" placeholder="Enter product id" />
                <span asp-validation-for="Product_Id"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Name"></label>
                <input asp-for="Product_Name" class="form-control" placeholder="Enter product name" />
                <span asp-validation-for="Product_Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand_Name"></label>
                <input asp-for="Brand_Name" class="form-control" placeholder="Enter product brand name"/>
                <span asp-validation-for="Brand_Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Quantity"></label>
                <input asp-for="Product_Quantity" class="form-control" placeholder="Enter product quantity" />
                <span asp-validation-for="Product_Quantity"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product_Price"></label>
                <input asp-for="Product_Price" class="form-control" placeholder="Enter product price" />
                <span asp-validation-for="Product_Price"></span>
            </div>

            <input type="submit" class="btn-primary" value="Add Product" />
        </form>
    </div>
</body>
</html>