@model Store_Management_System.Areas.Product.Models.Product
@{
    //Layout = "_LayoutForProduct";
    ViewData["Title"] = "Product";
}
    <h1 style="text-align: center;font-family: 'Times New Roman', Times, serif">WELCOME TO PRODUCT INFORMATION PAGE</h1>
<br />
<br />

<p>
    <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif">
        If You have Any Account Then You Can See The Product Information  Otherwise You Have To Contact With The Administration.<br>
        Thank You.
    </h2>
</p>
